name: "CI"

on:
- push

jobs:
  test:
    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ ubuntu-latest ]
        python-version: [ '3.10', '3.11', '3.12', '3.13' ]
        mongodb-version: ['4.4', '5.0', '6.0']

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.12.0
        with:
          mongodb-version: ${{ matrix.mongodb-version }}
          mongodb-db: test
          mongodb-port: 27017

      - name: Checkout [${{ github.repository }}]
        uses: actions/checkout@v4

      - uses: cvxgrp/.github/actions/uv/test@v2.0.12
        with:
          python-version: ${{ matrix.python-version }}
          tests-folder: src/tests
