name: "CI"

on:
- push

permissions:
  contents: read

jobs:
  test:
    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        # mongo container action only supported on Linux
        os: [ ubuntu-latest ]
        python-version: [ '3.10', '3.11', '3.12', '3.13' ]
        mongodb-version: ['4.4', '5.0', '6.0']

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      #- name: Start MongoDB
      #  uses: supercharge/mongodb-github-action@1.12.0
      #  with:
      #    mongodb-version: ${{ matrix.mongodb-version }}
      #    mongodb-db: test
      #    mongodb-port: 27017

      - name: "Build the virtual environment for ${{ github.repository }}"
        uses: tschm/cradle/actions/environment@v0.1.80
        with:
          python-version: ${{ matrix.python-version }}

      - uses: tschm/cradle/actions/test@v0.1.80
        with:
          tests-folder: src/tests
